body {
    background-color: #FEFAEF !important;
}

.container {
    min-height: 100vh;
    background-color: #F7F7F7 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}