body {
    background-color: #FEFAEF !important;
}

.container {
    min-height: 100vh;
    background-color: #F7F7F7 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.quiz-right-answer {
    background-color: #B7F799 !important;
}

.quiz-false-answer {
    background-color: #FFA3A4 !important;
}